section.section.hero
    .hero__bg
        img(src="../img/bg/Mountain.jpg" alt="").hero__bg-img

    .hero__container
        img(src="img/decor/portfolio-header.png" alt="").hero-title-pic

        .user
            .user__pic-container
                img(src="../img/user.png" alt="").user__pic
            .user__name Tony Robbins
            .user__desc Dev apps
