$white : #efeee9;
$beige: #eeebdf;
$main-font-color : #373e42;
$gray: #c7c7c7;
$green: #62bd72;
$light-beige: #f4f1e5;

//layout setups
@import "layout/setups";
@import "layout/fonts";

//mixins
@import "helpers/mixins";

@import "blocks/**/*";

